@import "tailwindcss";
@import "./colors.css";

@theme {
  --font-headline: var(--font-headline);
  --font-body: var(--font-body);
  --font-label: var(--font-label);
}

@layer base {
  body {
    /* Fondo con gradiente radial imperceptible, reacciona a Dark Mode */
    background: radial-gradient(circle at 15% 50%, var(--bg-gradient-start), var(--bg-gradient-end));
    color: var(--color-secondary);
    min-height: 100vh;
  }
}
