@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* Fondo con gradiente radial imperceptible para el modo claro (Soft UI) */
    background: radial-gradient(circle at 15% 50%, #ffffff, #F3F3F3);
    color: #1A1A1A;
    min-height: 100vh;
  }

  .dark body {
    /* Fondo con gradiente radial imperceptible para el modo oscuro (Minimalista) */
    background: radial-gradient(circle at 15% 50%, #242424, #121212);
    color: #F3F3F3;
  }
}
